{% extends 'main.html' %}
{% block content %}
<style>
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr; /* Adjusted column sizes */
    }
    .sidebar {
        padding: 20px; /* Add some padding */
        border-right: 1px solid #ccc; /* Optional: Add a border for separation */
    }
    .rooms {
        padding: 20px; /* Add some padding */
    }
</style>
<div class="container">
    <div class="sidebar">
        <a href="{% url 'create_room' %}"><h3>Create Room</h3></a>
        
        <div>
            <hr>
            <b><h2>Browse by category</h2></b>
            <hr>
            <a href="{% url 'home' %}"><h3>All</h3></a>
            {% for category in categories %}
                <h3><a href="{% url 'home' %}?q={{ category }}">{{ category }}</a></h3>
            {% endfor %}
        </div>
    </div>

    <div class="rooms">
        <small>{{ room_count }} rooms available</small><hr>
        
        {% for room in rooms %}
            <h2>
                <a href="{% url 'room' room.id %}">{{ room.title }}</a>
                <a href="{% url 'room_delete' room.id %}"><button type="submit">Delete</button></a>
                <a href="{% url 'room_edit' room.id %}"><button type="submit">Edit</button></a>
            </h2>
            <!-- Owner's username -->
            <p>Created by: {{ room.owner.username }}</p>
            <br>
            <b>Location:</b> <small>{{room.area}} ,{{room.city}}</small><br>
            <b>Beds: {{ room.beds }}</b>
            <b>Baths: {{ room.baths }}</b>
            <hr> 
        {% endfor %}

    </div>
</div>
{% endblock %}