{% extends 'main.html' %}
{% block content %}
<div>
  <h1>{{room.title}}</h1>
  <span style="white-space: nowrap;">Catagory:{{room.catagory}}</span>
  <h4>Description:</h4><small><p>{{room.description}}</p></small>
  <h4>Phone No:</h4><small><p>{{room.phone}}</p></small>
  <h4>Address:</h4><small>{{room.address}}</small>
  <small>,{{room.city}}</small>
  <h1>Conversation</h1><hr>
</div>

<div>  
  <div id="messages">
    {% for message in room.messages.all %}
      <p><strong>{{ message.user.username }}:</strong> {{ message.text }}</p>  <!-- Display username -->
    {% endfor %}
  </div>

  <form method="POST" action="{% url 'send_message' room.id %}">
    {% csrf_token %}
    <textarea name="message" required></textarea>
    <button type="submit">Send</button>
  </form>
</div>
{% endblock %}




